$ff-main: 'Jost', sans-serif;
$ff-second: 'Roboto', sans-serif;
$color-main: #2D2D2D;
$btn-bg: linear-gradient(221.87deg, #FFB45C 0%, #FFA438 100%);
$btn-color: #242530;
$input-bg: #C7C8D0;
$input-color: #2D2D2D;
$radius: 10px;
